/* Main Fonts */
@font-face {
    font-family: "LoraRegular";
    src: local("LoraRegular"), url(./fonts/Lora-Regular.woff) format("woff");
}

@font-face {
    font-family: "LoraBold";
    src: local("LoraBold"), url(./fonts/Lora-Bold.woff) format("woff");
}

/* Base styles */
body * {
    font-family: "LoraRegular", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    font-family: "LoraBold", sans-serif;
}

.base_styled_btn {
    border: 1px solid #0f9e46;
    padding: 3px 10px 5px;
    font-size: 15px;
    background-color: #fff;
    color: #696969;
    cursor: pointer;
}

.base_styled_btn:hover {
    background-color: #eee;
}

.base_styled_btn:active {
    background-color: #ccc;
}

.base_styled_btn:disabled {
    border: 1px solid #ccc;
}

.base_styled_btn:disabled:hover {
    background-color: #fff;
}

.decoration_line {
    margin: 20px 0;
    border: 1px solid #ccc;
}